<!-- call-to-action.html starts here -->
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Author, Researcher, Educator</h2>
                <hr class="light">
                <p class="text-faded">D.P. O'Donnell is an author, researcher, and educator with over thirty years experience in Canada, the U.K., the U.S., and the Netherlands.</p>
                <p class="text-faded">He is the author of <i><a href="#">Glamour Boys</a>, a dark new historical detective novel in the tradition of Philip Kerr (<i>Berlin Noir</i>), Tara Moss (<i>War Widow</i>), and Ellen Keith (<i>The Dutch Wife</i>) as well as numerous books and research articles on early medieval literature, the Dutch war experience, and scientific communication.</p>
                <p class="text-faded">Born and raised in Toronto, D.P. O'Donnell has lived in New Haven, Baton Rouge, York (U.K.), and Amsterdam and worked at various times in cities around the world. He now lives in Lethbridge, Alberta.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contact me</a>
            </div>
        </div>
    </div>
</section>
<!-- call-to-action.html ends here -->
