<!-- glamourboys.html starts here -->
<aside class="bg-dark">
      <div class="container"> <!--  text-center -->
          <div class="call-to-action">
                <div class="text-center">
              <h2 id=#glamourboys">Glamour Boys: A novel</h2>
                <a href="#" class="btn btn-default btn-xl">Download a sample</a></div> <br/>
                <p>GLAMOUR BOYS is a 107,000-word mystery set in mid-1960s Toronto. Responding to 1950s and ‘60s pulps (e.g. <i>Blondes are my Trouble</i>, <i>The Sin Sniper</i>), and working within the more recent tradition of <b>Tara Moss (<i>The War Widow</i>)</b>, <b>Philip Kerr (<i>Berlin Noir</i>)</b>, and <b>Ellen Keith (<i>Dutch Wife</i>)</b>, GLAMOUR BOYS asks what happens when a noir detective and member of the "Greatest Generation" gets too comfortable in middle age.</p>

<p>The novel follows Sandy Sanderson, a corporate PI and WWII vet, as he investigates two seemingly unrelated incidents: news that Canadian soldiers had helped the German Army execute two “collaborators” at the end of the war; and the odd recent behaviour of Fitz McCrae, Sandy’s best friend and biggest client.</p>

<p>At first, Sandy is not keen on either case. Fifty years old and more soft- than hard- boiled, he knows he’s no Mike Hammer. If he hadn’t been asked by Greta — Fitz’s wife and the former Dutch resistance fighter who is Sandy’s unrequited wartime love — he’d never have taken them on.</p>

<p>But then Fitz is killed, and also Dirk Van Bergen-Aarts, the Dutch consul and a wartime intelligence officer. The mob gets involved and the RCMP. There’s a shootout. The bad guys die. And everybody lives happily ever after.</p>

<p>Including, it turns out, the real killers, who were much closer to Sandy than anybody suspected. As the novel ends, Sandy needs to decide where his loyalties lie: with Fitz and Van Bergen-Aarts in mid-1960s Toronto; or with the people they betrayed in Amsterdam at the end of the war.</p>

<p>The setting is almost a character in its own right. Toronto in 1966-1967 was in a period of rapid transition, from the closed, conservative, anglophone, and patriarchal world of the “Belfast of the North” to the modern, multi-everything city it is today. And it was the last time his favorite hockey team, the Toronto Maple Leafs, would win the championship. Navigating among generations, discovering the truth behind his wartime experiences, and catching the occasional game on TV, Sandy learns that success is not justice and that victory can contain the seeds of defeat.</p>

<p>GLAMOUR BOYS is my first novel, though I am a veteran academic author with some practice in journalism. In writing this book, I drew on my experience as a researcher of historical language and literature, including publications on the Diary of Anne Frank and other Dutch war memoirs, and years as a resident of Amsterdam and Toronto. By setting the novel within the war generation in 1960s Toronto, I am able to explore a crucial moment in the city’s (and generation's) transition from a closed, conservative, and very patriarchal past to a much more open multi-everything present. </p><br/>
            <div class="text-center">
          <a href="#" class="text-center btn btn-default btn-xl">Download a sample</a> <br/>
                                                                </div>
          </div>
      </div>
  </aside>
<!-- aside.html ends here -->
